/* 
    Author     : mika
*/

.button#kirjastoButton {
    -fx-background-image: url(kirjasto.png);
	-fx-background-color: none;
}

.button#listBook {
    -fx-background-image: url(kirja_lista.png);
}

.button#addBook {
    -fx-background-image: url(kirja_add.png);
}

.button#listUser {
    -fx-background-image: url(hemmo_lista.png);
}

.button#addUser {
    -fx-background-image: url(hemmo_add.png);
}

.button#roskis_tyhja {
    -fx-background-image: url(roskis_tyhja.png);
}

.button#roskis_taysi {
    -fx-background-image: url(roskis_taysi.png);
}

.button#toUser {
	-fx-background-image: url(user_admin.png);
}
