/* 
    Author     : mika
*/

.root {
    -fx-background-color: linear-gradient(papayawhip, mistyrose);
    -fx-min-width:960.0px;
    -fx-min-height:680.0px;
}

.label {
    -fx-text-fill: maroon;
}

.text-field {
	-fx-border-width: 1.0;
	-fx-border-color:maroon;
	-fx-border-style: solid;
	-fx-border-radius: 5.0px;
	-fx-background-color: ivory;
	-fx-text-fill: maroon;
    -fx-min-width: 300.0px;
}

.check-box>.box, .check-box:selected.box {
	-fx-border-width: 1.0;
	-fx-border-color:maroon;
	-fx-border-style: solid;
	-fx-border-radius: 5.0px;
	-fx-background-color: ivory;
}

.check-box>.box>.mark {
  -fx-background-color: ivory;
}

.check-box:selected>.box>.mark{
	-fx-background-color: maroon;
	-fx-scale-x: 170.0%;
	-fx-scale-y: 170.0%;
	-fx-translate-x: 2.0px;
	-fx-translate-y: -4.0px;
}

.combo-box {
	-fx-border-color:maroon;
	-fx-border-style: solid;
	-fx-border-radius: 5.0px;
	-fx-background-color: ivory;
}

.combo-box:editable .text-input {
	-fx-border-width: 0px;
}

.combo-box .list-cell {
	-fx-background-color: ivory;
	-fx-text-fill: maroon;
}

.combo-box .list-cell:selected, .combo-box .list-cell:hover {
	-fx-background-color: maroon;
	-fx-text-fill: ivory;
}

.combo-box .arrow-button {
	-fx-background-radius: 5.0px;
	-fx-background-color: maroon;	
}

.combo-box .arrow-button>.arrow {
	-fx-background-color: ivory;
	-fx-scale-x: 150.0%;
	-fx-scale-y: 150.0%;
}

.combo-box.valinta {
	-fx-min-width: 300.0px;
}

.combo-box.tauluCombo {
	-fx-min-width: 800.0px;
}

.button {
    -fx-background-radius: 5.0px;
    -fx-background-color: linear-gradient(sandybrown, sienna);
    -fx-text-fill: lavenderblush;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: linear-gradient(sienna, sandybrown);
}

.button.local {
    -fx-min-height: 32.0px;
    -fx-min-width: 64.0px;
    -fx-max-height: 32.0px;
	-fx-max-width: -1.0;
}

.button.special {
	-fx-background-color: linear-gradient(tomato,maroon);
    -fx-min-width: 64.0px;
    -fx-max-height: 32.0px;
	-fx-max-width: -1.0;
}

.button.special:hover {
	-fx-background-color: linear-gradient(maroon, tomato);
}

.button.ikoni {
	-fx-background-color: linear-gradient(rgba(244.0,164.0,96.0,0.1), rgba(160.0,82.0,45.0,0.1));
    -fx-min-height: 64.0px;
    -fx-min-width: 64.0px;
    -fx-max-height: 64.0px;
    -fx-max-width: 64.0px;
 } 

.button.ikoni:hover {
    -fx-background-color: linear-gradient(rgba(160.0,82.0,45.0,0.3), rgba(244.0,164.0,96.0,0.3));
} 

.roskisBox {
    -fx-min-width: 80.0px;
    -fx-alignment: bottom-center;
}

.button#roskis {
	-fx-background-color:rgba(160.0,82.0,45.0,0.0);
	-fx-padding: 0.0 0.0 40.0px 0.0;
}

.bottomPanel {
	-fx-min-height: 100.0px;
}

.lopetaBox {
    -fx-alignment: bottom-left;
}

.button#exit {
    -fx-background-image: url(exit.png);
}

.button#lopeta {
    -fx-background-image: url(poistu.png);
}

.button#palaa {
    -fx-background-image: url(palaa.png);
}

.reunaBox {
    -fx-alignment: CENTER;
    -fx-min-width: 80.0px;
}

#taulu {
	-fx-min-width: 800.0px;
}

.keskusta {
	-fx-alignment: center;
}

.keskustaGrid {
	-fx-vgap: 5.0px;
}

.tooltip {
	-fx-background-color: linear-gradient(papayawhip, mistyrose);
	-fx-text-fill: maroon;
	-fx-font-weight: bold;
	-fx-border-color: maroon;
	-fx-border-width: 2.0px;
	-fx-border-radius: 5.0px;
}
