/* 
    Author     : mika
*/
.label#logo {
	-fx-graphic: url(datadevils.png);
}

#loginBox {
	-fx-spacing: 5.0px;
	-fx-alignment: top-right;
}

.otsikko {
	-fx-font-weight: bold;
	-fx-text-fill: maroon;
}

#ohjelma {
	-fx-font-size: 40.0;
}

#tiimi {
	-fx-font-size: 20.0;
	-fx-font-style: italic;
}

.loginLabel {
	-fx-alignment: baseline-left;
	-fx-min-width: 80.0px;
}

.button#rekisterointi {
	-fx-background-image: url(rekisterointi.png);
}

#rekisterointiBox {
	-fx-alignment: top-right;
	-fx-spacing: 5.0px;
	-fx-padding: 0 10px 0 0;
}