/* 
    Author     : mika
*/

.combo-box.tauluCombo {
	-fx-min-width: 800.0px;
}

.scroll-pane {
	-fx-background-color: navajowhite;
}

.scroll-bar .track {
	-fx-background-color: ivory;
	-fx-border-style: none;
}

.scroll-bar .thumb {
	-fx-background-color: navajowhite;
    -fx-background-radius: 10.0px;
 }

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: maroon;
    -fx-background-radius: 5.0px;
    -fx-padding: 7.0px;
}

.scroll-bar .increment-button>.increment-arrow,
 .scroll-bar .decrement-button>.decrement-arrow {
    -fx-background-color: ivory;
}

.table-view {
	-fx-background-color: navajowhite;
	-fx-background-fills: ivory;
}

.table-view .table-cell,
.table-view:focused .table-cell {
	-fx-text-fill: maroon;
	-fx-background-color: ivory;
	-fx-border-width: 0px;
}

.table-view .table-cell:empty {
	-fx-background-color: navajowhite;
}

.table-view .column-header-background {
	-fx-background-color: navajowhite;
}

.table-view .column-header {
	-fx-background-color: navajowhite;
	-fx-text-fill: maroon;
	-fx-alignment: center;
	-fx-border-width: 0.0 0.0 1.0 0.0;
	-fx-border-color: transparent transparent saddlebrown transparent;
}

.table-view .column-header-background .filler {
	-fx-background-color: navajowhite;
	-fx-border-width: 0.0 0.0 1.0 0.0;
	-fx-border-color: transparent transparent saddlebrown transparent;
}

.table-view .table-row-cell {
	-fx-border-width: 0.0px 0.0px 1.0px 0.0px;
	-fx-border-color: transparent transparent saddlebrown transparent;
	-fx-background-color: ivory;
	-fx-text-fill: maroon;
}

.table-view .table-row-cell:focused .table-cell {
	-fx-background-color: maroon;
	-fx-text-fill: ivory;
}

.table-view .table-row-cell:focused {
	-fx-background-color: maroon;
	-fx-text-fill: ivory;
}

.table-view .table-row-cell:empty {
	-fx-border-width: 0.0;
	-fx-background-color: navajowhite;
}

.scroll-pane#tauluScroll {
	-fx-hbar-policy: never;
	-fx-vbar-policy: always;
}

.text-area {
	-fx-background-color: ivory;
	-fx-text-fill: maroon;
	-fx-min-height: 122px;
	-fx-font-family: monospace;
}

.text-area .scroll-pane {
	-fx-hbar-policy: never;
}

