/* 
    Author     : mika
*/

.button#kirjastoButton {
	-fx-background-image: url(kirjasto.png);
}

.button#userButton {
	-fx-background-image: url(reppu_tyhja.png);
}

.button#userButton_full {
	-fx-background-image: url(reppu_taysi.png);
}

.button#listBook {
	-fx-background-image: url(kirja_lista.png);
}

.button#editUser {
	-fx-background-image: url(hemmo_edit.png);
}

.button#roskis {
	-fx-graphic: url(roskis_tyhja.png);
}

.button#toAdmin {
	-fx-graphic: url(user_admin.png);
}

.userMuokkaa {
	-fx-vgap: 5px;
}